body{background-color: aquamarine;}
#div1{background-color: floralwhite; color: darkslategray; text-align: center;}
#div2{background-color: floralwhite; color: darkslategray; text-align: center;}
#div3{background-color: floralwhite; color: darkslategray; text-align: center;}
#div4{background-color: floralwhite; color: darkslategray; text-align: center;}
div{border: 5px black solid}
#section{color: darkslategray;}
section{border: 5px black solid;}
ul {list-style-type: none;}
li {display: inline;}

